{% extends 'myapp/base.html' %}
{% block content %}
<form class="bg-white shadow-md m-10 w-3/5 rounded px-8 pt-6 pb-8 mb-4" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="mb-4">
        <label class="block font-bold text-gray text-sm" for="upload">Upload Profile Image</label>
        <input class="py-2" type="file" name="upload" id="upload" accept="image/*" placeholder="Upload a Clear Profile Image">
    </div>
    <div class="mb-4">
        <label class="block font-bold text-gray text-sm" for="contact">Input Contact Number</label>
        <input class="shadow appearance-none border rounded py-2 px-3 mr-10 text-gray-700" type="text" name="contact" id="contact" accept="image/*" placeholder="08123456789">
    </div>
    <input class="bg-green-500 text-white px-5 py-2 rounded-md" name="submit" type="submit" value="Submit">
</form>
{% endblock %}